apted==1.0.3
concurrent_log_handler==0.9.26
easydict==1.13
gym==0.26.2
matplotlib==3.7.5
mujoco==3.2.3
numpy==1.24.4
scikit_learn==1.3.2
torch==2.4.1
typing_extensions==4.13.2
tensorboard==2.14.0
opencv-python==4.11.0.86